html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /*  Style */

 body {
    font : 16px/20px arial, sans-serif;
    background-color: #292727;
 }


 .navbar {
    display: flex;
    justify-content: center; /*sejajar horizonta;*/
    align-items: center; /*Sejajar Vertikal*/
    padding: 1.4rem 7%;
    background-color: transparent;
    position: fixed;
    top: 0px;
    /* left: 0; */
    right: 0px;    
    z-index: 9999;
    gap: 20px;
 }

 .navbar a {
    color: white;
    text-decoration: none;
    font-size: 13px;
 }

 .navbar a:hover{
    text-decoration: solid;
 }

 .container {
    font-size: 90px;
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-top: 300px;
    position: relative;
    letter-spacing: 0;
    color: white;
    font-family: 'Poppins';
    font-weight: thin;
 }


 .searchbar {
    display: flex; /* biar input dan tombol sejajar */
    justify-content: start; /* center horizontal */
    align-items: center; /* center vertical */
    margin-top: 80px;
    padding: 10px 15px;
    width: 550px;
    background-color: rgba(68, 65, 65, 0.815);
    border-radius: 50px;
    margin: 70px auto;
    height: 30px;
    flex: 1;
 }

 .searchbar:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
 

.searchbar input {
    border: none;
    outline: none;
    background:transparent;
    flex: 1;
    font-size: 16px;
    color: white;
}

.more {
    text-align: center;
    color: white;
    background-color: #474747;
    float: left;
    margin-left: 39%;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: -30px;
}

.more:hover{
    border: 1px solid white;
}

.more a {
    text-decoration: none;
    color: white;
}

.more2 {
    text-align: center;
    color: white;
    background-color: #474747;
    float: right;
    margin-right: 39%;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: -30px;
}

.more2:hover{
    border: 1px solid white;
}

.more2 a{
    text-decoration: none;
    color: white;
}

.bahasa{
    text-align: center;
    padding-top: 70px;
    color: white;
    font-size: 13px;
}

.bahasa a {
    text-decoration: none;
    color: skyblue;
    font-size: 13px;
}


.footer {
    justify-content: center;
    color :white;
    margin-top: 310px;
    background-color: #0a0a0a;
    height: 10px;
    padding-top: 10px;
    padding-left: 35px;
    padding-bottom: 20px;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgb(97, 94, 94);
    font-size: 15px;
}

.footer2{
    background-color: #0a0a0a;
    text-decoration: none;
    height: 10px;
    margin-top: 9px;
    height: 10px;
    padding-top: 10px;
    padding-left: 35px;
    padding-bottom: 20px;
    bottom: 0;
    gap: 50px;
    border-top: 1px solid rgb(97, 94, 94);
}

.footer2 a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    font-size: 15px;
}

.footer2 a span{
    text-align: end;
    margin-left: 65rem;
}
